{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kiosk/style.css' %}">

<h1 style="text-align: center;">
    Shelter Name
    <span style="float: left;">
        {{ dataset.count }}
    </span>
</h1>

{% for k, v in dataset.locations.items %}
<h2>{{ k.name }}</h2>
<div class="flex-container">
    {% for animal, notes in v.items %}
    <div class="flex-item">
        <h3 style="text-align: center; vertical-align: top;"><a href="{% url 'kiosk:detail' animal.id %}">{{ animal.name }}</a></h3>
        <div class="medicalnotes">
        <table>
            {% for note in notes %}
            {% if forloop.first %}
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Instruction</th>
                <th>Notes</th>
            </tr>
            {% endif %}
            <tr>
                <td>{{ note.start_date }}</td>
                <td>{{ note.end_date }}</td>
                <td>{{ note.instruction }}</td>
                <td>{{ note.notes }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}