<h1>{{ animal.name }} ({{ animal.species }})</h1>
{% if animal.is_active == True %}
<p>Active since {{ animal.intake_date }}</p>
{% else %}
<p>Inactive since {{ animal.exit_date }}</p>
{% endif %}

<h2>Location</h2>
<p>{{ animal.location }}</p>

<h2> Medical Notes</h2>
{% if animal.medicalnote_set.count != 0 %}
<table>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Instruction</th>
        <th>Notes</th>
    </tr>
{% for note in animal.medicalnote_set.all %}
    <tr>
        <td>{{ note.start_date }}</td>
        <td>{{ note.end_date }}</td>
        <td>{{ note.instruction }}</td>
        <td>{{ note.notes }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}