{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'kiosk/style.css' %}">
{% if animal_list %}
    <ul>
    {% for animal in animal_list %}
    <li><a href="{% url 'kiosk:detail' animal.id %}">{{ animal.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No animals are available.</p>
{% endif %}