body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(12, 85, 196);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

td {
    vertical-align: top;
}

.medicalnotes table {
    width: 100%;
    border-collapse:separate;
    border-spacing: 0;
    border:solid black 1px;
    border-radius:6px;
    table-layout: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.medicalnotes td, .medicalnotes th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

.medicalnotes th {
    background-color: rgba(12, 86, 196, 0.452);
    border-top: none;
}

.medicalnotes tr, .medicalnotes td {
    max-width: 100px;
}

.medicalnotes td:first-child, .medicalnotes th:first-child {
     border-left: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

.flex-item {
    flex-basis: 24%;
    padding: 2px;
}